* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #79C1EC;
    font-family: 'Open Sans', sans-serif;
}

/*HEADER*/

header {
    width: 100%;
    background: #ffffff;
    height: 90px;
}

header img {
    max-width: 70px;
    max-height: 70px;
    margin: 5px 5px 5px 30px;
}

.header_inners {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_refs {
    margin-right: 71px;
}

.header_ref {
    font-size: 24px;
    font-weight: 500;
    margin-right: 26px;
    color: black;
    text-decoration: none;
}

/*SIDEBAR FILTER*/

.dropbtn {
    background-color: white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 100px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.dropbtn:before {
    height: 0%;
    width: 2px;
}
.dropbtn:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}


.dropdown {
    position: relative;
    display: inline-block;
    margin: 30px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: absolute;
    left: -500px;
    opacity: 0;
    transition: left, opacity 0.3s, .3s ease-in-out;
    width: 380px;
    height: auto;
    padding: 1px 20px 30px 20px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: white;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    opacity: 1;
    left: 0;
}

.span_menu {
    font-style: normal;
    user-select: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 20px 0 10px 0;
}

.img {
    background-image: url('/static/files/arrow.svg');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
}

.color_menu {
    display: none;
}

.show_colour {
    display: inline-block;
    opacity: 1;
}

#btn_black {
    background: #303030;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#btn_blue {
    background: #0000FF;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#btn_brown {
    background: #7F3F00;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#btn_gray {
    background: #7F7F7F;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#btn_green {
    background: #00FF00;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#btn_white {
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#btn_orange {
    background: #FF7F00;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#btn_purple {
    background: #7F00FF;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#btn_yellow {
    background: #FFFF00;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#btn_red {
    background-color: #FF0000;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


input[type='checkbox'].color_menu{
    appearance: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
input[type='checkbox'].color_menu:hover{
    filter: contrast(50%);
}

input[type='checkbox'].color_menu:checked{
    filter: contrast(50%);
}

.severity_menu {
    display: none;
}

.show_severity {
    display: inline-block;
    opacity: 1;
}

.participant_category_menu {
    display: none;
}

.show_participant {
    display: inline-block;
    opacity: 1;
}


#children {
    background-image: url('/static/files/children.svg');
    background-repeat: no-repeat;
}

#walk {
    background-image: url('/static/files/walk.svg');
    background-repeat: no-repeat;
}

#bicycle {
    background-image: url('/static/files/bicycle.svg');
    background-repeat: no-repeat;
}

#motocross {
    background-image: url('/static/files/motocross.svg');
    background-repeat: no-repeat;
}

#bus {
    background-image: url('/static/files/bus.svg');
    background-repeat: no-repeat;
}


input[type='checkbox'].participant_menu{
    appearance: none;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

input[type='checkbox'].participant_menu:hover{
    filter: contrast(50%);
}

input[type='checkbox'].participant_menu:checked{
    filter: contrast(50%);
}

.gender_menu {
    display: none;
}

.show_gender {
    display: inline-block;
    opacity: 1;
}

#man {
    background-image: url('/static/files/man.svg');
    background-repeat: no-repeat;
}
#woman{
    background-image: url('/static/files/woman.svg');
    background-repeat: no-repeat;
}

input[type='checkbox'].gender{
    appearance: none;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

input[type='checkbox'].gender:hover{
    filter: contrast(50%);
}

input[type='checkbox'].gender:checked{
    filter: contrast(50%);
}

.light_menu {
    display: none;
}

.show_light {
    display: inline-block;
    opacity: 1;
}

#date1 {
    margin-top: 18px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
#date2 {
    margin-top: 18px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.submit {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin: 20px 10px 0 280px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),
    7px 7px 20px 0 rgba(0,0,0,.1),
    4px 4px 5px 0rgba(0,0,0,.1);
    outline: none;
}

.submit:before {
    height: 0;
    width: 2px;
}
.submit:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

path {
    stroke: white;
    stroke-width: 1px;
    stroke-opacity: 0.75;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 25px;
    padding: 2px;
    font-size: 10px;
    background: #FFFFE0;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}