<!DOCTYPE html>
<html>
<head>
    <title>Карта ДТП - О проекте</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/about_project.css' %}">
</head>
<body>
<header class="header_inners">
    <a href="/"><img src="{% static 'files/logo.png' %}"></a>
    <div id="header_refs">
        <a class="header_ref" href="/analytics/">Аналитика</a>
        <a class="header_ref" href="/about_project/">О проекте</a>
        <a class="header_ref" href="/about_us/">О нас</a>
    </div>
</header>
<div class="main">
    <img src="{% static 'files/bgblurredmap.png' %}">
    <div class="fonWhite">
        <h1 class="oProject">О проекте</h1>
        <div class="text">
            <p>Проект разработан в рамках профильной дисциплины “Разработка систем обработки данных в предметных
                областях” на основе открытых данных о случаях ДТП в России.</p>
            <p>Существует проблема большого количества аварийных ситуаций на дорогах. Согласно многим исследованием
                одной из лидирующих причин смертности в России являются именно дорожно-транспортные проишествия.</p>
            <p>Для решения этой проблемы наша команда решила создать веб-приложение, которое бы наглядно показало на
                карте статистику ДТП по всей России.</p>
        </div>
    </div>
</div>
</body>
</html>